name: airtable_image_upload_test

on:
  workflow_dispatch:
  
  schedule:
    - cron: '0 23 * * *' # Runs at 7 AM Singapore time (23:00 UTC) daily
      
env:
  BUILD_PYTHON_VERSION: 3.9
  BUILD_POETRY_VERSION: 2.1.3
  PACKAGE_NAME: airlift

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ env.BUILD_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.BUILD_PYTHON_VERSION }}

      - name: Install setuptools
        run: pip install setuptools==80.9.0

      - name: Set up Poetry ${{ env.BUILD_POETRY_VERSION }}
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ env.BUILD_POETRY_VERSION }}

      - name: Install poetry-plugin-export
        run: poetry self add poetry-plugin-export==1.9.0
      
      - name: Cache Poetry dependencies
        uses: actions/cache@v3
        with: 
          path: |
            .venv
            ~/.cache/pypoetry
          key: ${{ runner.os }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-
              
      - name: Install the neccessary libraries to run airlift
        run: |
          poetry config virtualenvs.create false
          poetry install --no-root

      - name: Run tests
        env:
          CI_AIRTABLE_TOKEN: ${{secrets.CI_AIRTABLE_TOKEN}}
          CI_AIRTABLE_BASE: ${{secrets.CI_AIRTABLE_BASE}}
          CI_AIRTABLE_TABLE: ${{secrets.CI_AIRTABLE_TABLE}}
          CI_DROPBOX_APP_KEY: ${{secrets.CI_DROPBOX_APP_KEY}}
          CI_DROPBOX_REFRESH_TOKEN: ${{secrets.CI_DROPBOX_REFRESH_TOKEN}}
          
        run: pytest tests/test_upload.py -v -s --disable-warnings
        